@font-face {
font-family: Hauora;
src: url(fonts/web/Hauora-ExtraBold.woff2) format("woff2"),
        url(fonts/web/Hauora-ExtraBold.woff) format("woff");
font-weight: 800;
}
@font-face {
font-family: Hauora;
src: url(fonts/web/Hauora-Bold.woff2) format("woff2"),
        url(fonts/web/Hauora-Bold.woff) format("woff");
font-weight: 700;
}
@font-face {
font-family: Hauora;
src: url(fonts/web/Hauora-SemiBold.woff2) format("woff2"),
        url(fonts/web/Hauora-SemiBold.woff) format("woff");
font-weight: 600;
}
@font-face {
font-family: Hauora;
src: url(fonts/web/Hauora-Medium.woff2) format("woff2"),
        url(fonts/web/Hauora-Medium.woff) format("woff");
font-weight: 500;
}
@font-face {
font-family: Hauora;
src: url(fonts/web/Hauora-Regular.woff2) format("woff2"),
        url(fonts/web/Hauora-Regular.woff) format("woff");
font-weight: 400;
}
@font-face {
font-family: Hauora;
src: url(fonts/web/Hauora-Light.woff2) format("woff2"),
        url(fonts/web/Hauora-Light.woff) format("woff");
font-weight: 300;
}
@font-face {
font-family: Hauora;
src: url(fonts/web/Hauora-ExtraLight.woff2) format("woff2"),
        url(fonts/web/Hauora-ExtraLight.woff) format("woff");
font-weight: 200;
}

html {
    font-family: Hauora, monospace;
}

* {
        margin: 0;
}

#logo {
        position: fixed;
        margin: 0em;
}


#bigmock {
        margin: 4em;
}

#a {color:#383434 ;
        
}

#size20 {font-size: 1.5;
        color:#383434 ;

}

#size24 {
        font-size: 1.25em; 
        color:#383434;
}

#content > * {
        max-width: 100em;
        margin: auto;
}
#size12{
        font-size: 0.75em; 
        color:#383434;

}
.frame {
        display: flex;
        flex-wrap: wrap;
        width: 950px;
        align-items: center;
        justify-content: center;
        gap: 42px 42px;
        position: relative;
      }
      
      .frame .component {
        position: relative;
        width: 450px;
        height: 300px;
      }
      
      .frame .img {
        position: relative;
        width: 480px;
        height: 318px;
      }





      .macbook-pro {
        background-color: #f7f4f4;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
      }
      
      .macbook-pro .div {
        background-color: #f7f4f4;
        width: 1200px;
        height: 6253px;
        position: relative;
      }
      
      .macbook-pro .overlap {
        position: absolute;
        width: 955px;
        height: 107px;
        top: 0;
        left: 123px;
      }
      
      .macbook-pro .vector {
        position: absolute;
        width: 955px;
        height: 1px;
        top: 2px;
        left: 0;
        object-fit: cover;
      }
      
      .macbook-pro .frame {
        display: flex;
        flex-direction: column;
        width: 190px;
        align-items: flex-start;
        gap: 10px;
        padding: 32px 0px;
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .macbook-pro .div-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 8px 24px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
        background-color: #383434;
        border-radius: 24px;
        box-shadow: 0px 4px 4px #38343440;
      }
      
      .macbook-pro .text-wrapper {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Hauora-Medium", Helvetica;
        font-weight: 500;
        color: #e7e2e2;
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .overlap-group {
        position: absolute;
        width: 1200px;
        height: 5273px;
        top: 134px;
        left: 0;
      }
      
      .macbook-pro .frame-2 {
        display: flex;
        flex-direction: column;
        width: 962px;
        align-items: flex-start;
        gap: 48px;
        position: absolute;
        top: 0;
        left: 122px;
      }
      
      .macbook-pro .group {
        position: relative;
        width: 955px;
        height: 760.55px;
      }
      
      .macbook-pro .overlap-2 {
        position: relative;
        height: 761px;
      }
      
      .macbook-pro .frame-wrapper {
        position: absolute;
        width: 955px;
        height: 761px;
        top: 0;
        left: 0;
        background-image: url(./img/letter-poster.png);
        background-size: 100% 100%;
      }
      
      .macbook-pro .frame-3 {
        display: inline-flex;
        align-items: center;
        gap: 47px;
        position: relative;
        top: 573px;
        left: 31px;
      }
      
      .macbook-pro .role-platform-tools {
        position: relative;
        width: 92px;
        height: 129px;
        margin-top: -1px;
        font-family: "Hauora-SemiBold", Helvetica;
        font-weight: 600;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .span {
        color: #383434;
        text-decoration: underline;
      }
      
      .macbook-pro .text-wrapper-2 {
        color: #383434;
      }
      
      .macbook-pro .product-designer-web {
        position: relative;
        width: 248px;
        height: 129px;
        margin-top: -1px;
        font-family: "Hauora-Regular", Helvetica;
        font-weight: 400;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .overlap-group-wrapper {
        position: absolute;
        width: 412px;
        height: 131px;
        top: 248px;
        left: 18px;
      }
      
      .macbook-pro .overlap-group-2 {
        position: relative;
        width: 408px;
        height: 131px;
      }
      
      .macbook-pro .text-wrapper-3 {
        position: absolute;
        width: 408px;
        top: 0;
        left: 0;
        font-family: "Hauora-Medium", Helvetica;
        font-weight: 500;
        color: #415f7d;
        font-size: 80px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .text-wrapper-4 {
        position: absolute;
        width: 101px;
        top: 82px;
        left: 300px;
        font-family: "Hauora-Light", Helvetica;
        font-weight: 300;
        color: #415f7d;
        font-size: 24px;
        letter-spacing: 0;
        line-height: 32.9px;
      }
      
      .macbook-pro .p {
        position: relative;
        align-self: stretch;
        font-family: "Hauora-Regular", Helvetica;
        font-weight: 400;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .text-wrapper-5 {
        font-family: "Hauora-Regular", Helvetica;
        font-weight: 400;
        color: #383434;
        font-size: 20px;
        letter-spacing: 0;
      }
      
      .macbook-pro .text-wrapper-6 {
        font-family: "Hauora-SemiBold", Helvetica;
        font-weight: 600;
      }
      
      .macbook-pro .frame-4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
      }
      
      .macbook-pro .frame-5 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
      }
      
      .macbook-pro .text-wrapper-7 {
        position: relative;
        align-self: stretch;
        margin-top: -1px;
        font-family: "Hauora-Bold", Helvetica;
        font-weight: 700;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .frame-6 {
        display: flex;
        align-items: center;
        gap: 80px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
      }
      
      .macbook-pro .frame-7 {
        display: flex;
        flex-direction: column;
        width: 443px;
        align-items: flex-start;
        gap: 8px;
        position: relative;
      }
      
      .macbook-pro .text-wrapper-8 {
        font-family: "Hauora-Bold", Helvetica;
        font-weight: 700;
      }
      
      .macbook-pro .problem-tree {
        position: relative;
        width: 339.6px;
        height: 500px;
        object-fit: cover;
      }
      
      .macbook-pro .frame-8 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
      }
      
      .macbook-pro .img {
        position: relative;
        width: 519.96px;
        height: 450px;
        object-fit: cover;
      }
      
      .macbook-pro .during-the-customer {
        position: relative;
        width: 384px;
        font-family: "Hauora-Regular", Helvetica;
        font-weight: 400;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .SCHMUCK-fritz {
        position: relative;
        align-self: stretch;
        font-family: "Hauora-SemiBold", Helvetica;
        font-weight: 400;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .text-wrapper-9 {
        font-weight: 600;
      }
      
      .macbook-pro .text-wrapper-10 {
        font-family: "Hauora-Regular", Helvetica;
      }
      
      .macbook-pro .vector-2 {
        position: relative;
        width: 955px;
        height: 1px;
        object-fit: cover;
      }
      
      .macbook-pro .i-decided-to-bring {
        position: relative;
        align-self: stretch;
        margin-top: -1px;
        font-family: "Hauora-Regular", Helvetica;
        font-weight: 400;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .design-system {
        position: relative;
        align-self: stretch;
        width: 100%;
        height: 537.19px;
        object-fit: cover;
      }
      
      .macbook-pro .overlap-wrapper {
        position: relative;
        width: 962px;
        height: 876.26px;
      }
      
      .macbook-pro .overlap-3 {
        position: relative;
        height: 876px;
      }
      
      .macbook-pro .frame-9 {
        display: flex;
        width: 962px;
        align-items: flex-start;
        gap: 76px;
        position: absolute;
        top: 0;
        left: 0;
      }
      
      .macbook-pro .macbook-air-inch {
        position: relative;
        width: 481px;
        height: 491px;
      }
      
      .macbook-pro .frame-10 {
        display: flex;
        flex-direction: column;
        width: 405px;
        align-items: flex-start;
        gap: 49px;
        position: relative;
      }
      
      .macbook-pro .dialog-is-a-cern-so {
        position: relative;
        align-self: stretch;
        margin-top: -1px;
        font-family: "Hauora-SemiBold", Helvetica;
        font-weight: 400;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .frame-11 {
        display: flex;
        width: 955px;
        align-items: center;
        position: absolute;
        top: 460px;
        left: 0;
      }
      
      .macbook-pro .i-created-high {
        position: relative;
        width: 579px;
        font-family: "Hauora-Regular", Helvetica;
        font-weight: 400;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .macbook-air {
        position: relative;
        width: 520px;
        height: 416px;
        margin-right: -75px;
        margin-left: -69px;
      }
      
      .macbook-pro .macbook-air-inch-2 {
        position: absolute;
        width: 604px;
        height: 814px;
        top: 4390px;
        left: 0;
      }
      
      .macbook-pro .macbook-air-inch-3 {
        position: absolute;
        width: 894px;
        height: 671px;
        top: 4602px;
        left: 233px;
        object-fit: cover;
      }
      
      .macbook-pro .macbook-air-inch-4 {
        position: absolute;
        width: 466px;
        height: 671px;
        top: 4433px;
        left: 734px;
      }
      
      .macbook-pro .group-2 {
        position: absolute;
        width: 174px;
        height: 246px;
        top: 4484px;
        left: 513px;
      }
      
      .macbook-pro .group-3 {
        position: absolute;
        width: 57px;
        height: 127px;
        top: 119px;
        left: 0;
        background-image: url(./img/path-1.svg);
        background-size: 100% 100%;
      }
      
      .macbook-pro .overlap-4 {
        position: absolute;
        width: 12px;
        height: 34px;
        top: 89px;
        left: 17px;
      }
      
      .macbook-pro .vector-3 {
        position: absolute;
        width: 10px;
        height: 27px;
        top: 0;
        left: 0;
      }
      
      .macbook-pro .vector-4 {
        position: absolute;
        width: 12px;
        height: 34px;
        top: 0;
        left: 0;
      }
      
      .macbook-pro .overlap-5 {
        position: absolute;
        width: 41px;
        height: 38px;
        top: 2px;
        left: 1px;
      }
      
      .macbook-pro .overlap-group-3 {
        position: absolute;
        width: 41px;
        height: 38px;
        top: 0;
        left: 0;
      }
      
      .macbook-pro .group-4 {
        position: absolute;
        width: 41px;
        height: 34px;
        top: 4px;
        left: 0;
      }
      
      .macbook-pro .vector-5 {
        position: absolute;
        width: 12px;
        height: 7px;
        top: 0;
        left: 11px;
      }
      
      .macbook-pro .ellipse {
        position: absolute;
        width: 2px;
        height: 1px;
        top: 1px;
        left: 27px;
        background-color: #415f7d;
        border-radius: 1.08px/0.7px;
        transform: rotate(41.11deg);
      }
      
      .macbook-pro .vector-6 {
        position: absolute;
        width: 7px;
        height: 3px;
        top: 121px;
        left: 9px;
      }
      
      .macbook-pro .overlap-6 {
        position: absolute;
        width: 44px;
        height: 113px;
        top: 0;
        left: 114px;
      }
      
      .macbook-pro .vector-7 {
        position: absolute;
        width: 42px;
        height: 58px;
        top: 55px;
        left: 0;
      }
      
      .macbook-pro .vector-8 {
        position: absolute;
        width: 42px;
        height: 58px;
        top: 0;
        left: 1px;
      }
      
      .macbook-pro .overlap-7 {
        position: absolute;
        width: 46px;
        height: 113px;
        top: 0;
        left: 63px;
      }
      
      .macbook-pro .vector-9 {
        position: absolute;
        width: 46px;
        height: 58px;
        top: 55px;
        left: 0;
      }
      
      .macbook-pro .vector-10 {
        position: absolute;
        width: 34px;
        height: 58px;
        top: 0;
        left: 12px;
      }
      
      .macbook-pro .vector-11 {
        position: absolute;
        width: 7px;
        height: 58px;
        top: 0;
        left: 167px;
      }
      
      .macbook-pro .key-learnings {
        position: absolute;
        width: 955px;
        top: 5454px;
        left: 115px;
        font-family: "Hauora-Bold", Helvetica;
        font-weight: 700;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .people-are-not-going {
        position: absolute;
        width: 955px;
        top: 5489px;
        left: 115px;
        font-family: "Hauora-Regular", Helvetica;
        font-weight: 400;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .discover-schmuck {
        position: absolute;
        width: 955px;
        top: 5699px;
        left: 115px;
        font-family: "Hauora-Bold", Helvetica;
        font-weight: 700;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
        text-decoration: underline;
      }
      
      .macbook-pro .vector-12 {
        position: absolute;
        width: 955px;
        height: 1px;
        top: 5775px;
        left: 115px;
        object-fit: cover;
      }
      
      .macbook-pro .overlap-8 {
        position: absolute;
        width: 1064px;
        height: 346px;
        top: 5823px;
        left: 0;
      }
      
      .macbook-pro .frame-12 {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        gap: 105px;
        position: absolute;
        top: 0;
        left: 274px;
      }
      
      .macbook-pro .get-in-touch-with-me-wrapper {
        position: relative;
        width: 287px;
        height: 66px;
      }
      
      .macbook-pro .get-in-touch-with-me {
        position: absolute;
        width: 285px;
        top: 0;
        left: 0;
        font-family: "Hauora-Regular", Helvetica;
        font-weight: 400;
        color: var(--d-9d-9d-9);
        font-size: 24px;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .text-wrapper-11 {
        font-family: "Hauora-Regular", Helvetica;
        font-weight: 400;
        color: #383434;
        font-size: 24px;
        letter-spacing: 0;
      }
      
      .macbook-pro .text-wrapper-12 {
        font-family: "Hauora-Bold", Helvetica;
        font-weight: 700;
        text-decoration: underline;
      }
      
      .macbook-pro .frame-13 {
        display: flex;
        flex-direction: column;
        width: 400px;
        align-items: flex-start;
        gap: 24px;
        position: relative;
      }
      
      .macbook-pro .or-check-out-my {
        position: relative;
        align-self: stretch;
        margin-top: -1px;
        font-family: "Hauora-Bold", Helvetica;
        font-weight: 700;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
      }
      
      .macbook-pro .frame-14 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        position: relative;
        align-self: stretch;
        width: 100%;
        flex: 0 0 auto;
      }
      
      .macbook-pro .frame-15 {
        display: flex;
        height: 48px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        align-self: stretch;
        width: 100%;
      }
      
      .macbook-pro .power-of-us-social {
        position: relative;
        width: 365px;
        height: 48px;
        margin-top: -1px;
        font-family: "Hauora-SemiBold", Helvetica;
        font-weight: 400;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
        text-decoration: underline;
      }
      
      .macbook-pro .fluent-arrow-up {
        position: relative;
        width: 24px;
        height: 24px;
      }
      
      .macbook-pro .redesign-the-app {
        position: relative;
        width: 322px;
        height: 49px;
        margin-top: -1.5px;
        font-family: "Hauora-SemiBold", Helvetica;
        font-weight: 400;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
        text-decoration: underline;
      }
      
      .macbook-pro .personal-challenge {
        position: relative;
        width: 303px;
        height: 48px;
        margin-top: -1px;
        font-family: "Hauora-SemiBold", Helvetica;
        font-weight: 400;
        color: var(--d-9d-9d-9);
        font-size: 20px;
        letter-spacing: 0;
        line-height: normal;
        text-decoration: underline;
      }
      
      .macbook-pro .duct-tape-mockup {
        position: absolute;
        width: 443px;
        height: 277px;
        top: 69px;
        left: 0;
      }
      
      .macbook-pro .vector-13 {
        position: absolute;
        width: 955px;
        height: 1px;
        top: 6191px;
        left: 122px;
        object-fit: cover;
      }
      
      .macbook-pro .text-wrapper-13 {
        position: absolute;
        top: 6206px;
        left: 907px;
        font-family: "Hauora-Regular", Helvetica;
        font-weight: 400;
        color: var(--d-9d-9d-9);
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
      }

#blabla {
  aspect-ratio: 1;
  width: 20em;
  background-color: red;
}

#blabla:hover {
  /* background-color: blue; */
  background-image: url("ring.png");
}
